# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.log

# Build outputs
dist/
build/
.cache/
.nuxt/
.next/
out/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.DS_Store

# OS-specific files
Thumbs.db
.DS_Store

# Testing & coverage
coverage/
jest/
cypress/screenshots/
cypress/videos/
